*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Overpass', sans-serif;
    background-color: hsl(218, 23%, 16%);
}


.container{
    height: 100vh;
}

.card{
    position: relative;
    background-color: hsl(217, 19%, 24%);
    width: 600px;
    min-height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -300px;
    border-radius: 20px;
}
.card-title{
    margin-top: 50px;
}
.card-title h1{
    text-align: center;
    font-size: 1rem;
    color: hsl(150, 100%, 66%);
    margin-bottom: 30px;
}

.card-text{
    margin-bottom: 50px;
    width: 90%;
    height: 35%;
}

.card-text p{
    font-size: 28px;
    font-weight: 800;
    margin-left: 10%;
    text-align: center;
    color: white;
}



.card-pause img{
    position: absolute;
    top: 75%;
    left: 100px;
    width: 400px;
}
.contain-dado{
    width: 140px;
}
#dado{
    position: absolute;
    top: 90%;
    left: 45%;
    max-width: 100%;
    background-color: hsl(150, 100%, 66%);
    padding: 1rem 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
}

#dado:hover {
    box-shadow: 0px 1px 30px 4px rgba(82, 255, 168, 0.75);
}
  
#dado:active {
    transform: scale(0.9) rotate(3600deg);
    box-shadow: 0px 1px 21px 0px rgba(82, 255, 168, 0.75);
}

@media screen and (max-width: 768px){
    .card{
        width: 350px;
        margin-left: -175px;
    }
    .card-pause img{
        width: 300px;
        left: 25px;
    }
    .card-text p{
        font-size: 25px;
    }
    #dado{
        left: 42.5%;
    }
}